.main-page__main-block {
  background: $main-page-main-block-background;

  display: flex;
  justify-content: center;
  padding: 70px 0;
}

.main-block__wrapper {
  width: 80%;
}

.main-block__title {
  @include font(2rem);

  text-align: center;
  margin-bottom: 40px;
}

.main-block__mini-games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
