.main-page__main-block {
  background: $main-page-main-block-background;

  display: flex;
  justify-content: center;
  padding: 70px 0 50px 0;
}

.main-block__wrapper {
  width: 100%;
}

.main-block__title {
  @include main-page-standard-title;
}

.main-block__games-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-block__game-line {
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80% !important;
  }
}

.main-block__games-first-line {
  width: 80%;

  @include laptop-l {
    width: 95%;
  }

  @include media-tablet {
    & > *:first-child {
      order: 1;
    }
  }
}

.main-block__games-second-line {
  width: 60%;

  @include laptop-l {
    width: 75%;
  }
}

.main-block__games-third-line {
  width: 40%;

  @include laptop-l {
    width: 55%;
  }
}
