body {
	background: #225378 !important;
	font-family: IBM Plex Mono !important;
	font-style: normal !important;
	user-select: none;
}

.logo-container {
	width: 100vw;
	height: 20vh;
}

.logo {
	width: 7rem;
	height: 7rem;
	margin-left: 15vw;
	margin-top: 8vh;
	background: url(assets/img/logo.png) no-repeat;
	background-size: contain;
}


.chicken {
	width: 40vw;
	height: 40vh;
	background: url(assets/img/chicken.png) no-repeat;
	background-size: contain;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.discription-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	border-radius: 50px;
	padding: 1rem;
	text-align: center;
	box-shadow: 0 0 50px 23px rgb(212, 207, 166);
	background: linear-gradient(45deg, #E91E63, #FFC107);
}

.discription {
	color: white;
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 2;
	letter-spacing: 0.13em;
}

.auth-btn:hover{
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.auth-btn:active {
	transform: scale(1);
}

.authorization-container {
	border-radius: 3px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	margin: 0 2rem;
}

.authorization-container label, .authorization-container input {
	align-self: start;
	font-weight: 500;
	width: 100%;
	height: 2rem;
}

.authorization-container label {
	margin-bottom: 0;
	margin-top: 1rem;
}

.authorization-container input {
	font-size: 0.7rem;
	margin-bottom: 1rem;
}

.btn-entry, .btn-registry {
	width: 300px;
	height: 40px;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	background: transparent;
	font-size: 18px;
	background: #EB7F00;
	margin: 2rem 0;
	border: none;
}

@media only screen and (max-width: 1200px) {
	.chicken {
		position: absolute;
		top: 5%;
		right: 15%;
		width: 300px;
		height: 300px;
	}

	.discription-container {
		align-items: center;
		margin-top: 2rem;
		text-align: center;
	}
}

@media only screen and (max-width: 992px) {
	.chicken {
		position: absolute;
		top: 3%;
		right: 15%;
		width: 200px;
		height: 200px;
	}

	.discription-container {
		display: none;
	}

	.authorization-container {
	position: unset;
	margin: 0 10%;
	width: 100%;
	}

	.btn-entry, .btn-registry {
		width: 100%;
	}
}

@media only screen and (max-width: 575px) {
	.logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 3rem;
	}

	.logo {
		margin-left: 0;
	}

	.chicken {
		display: none;
	}

	.btn-registry {
		font-size: 16px;
	}

	.main-container {
		flex-direction: column;
	}
}

.none {
	display: none;
}