.game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-page__image-block {
  margin-bottom: 40px;
  
  img {
    width: 450px;
    height: 200px;
  }
}

.game-page__words {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 15%;

  margin-bottom: 30px;

  &::after {
    width: 15%;
  }
}

.game-page__buttons {
  & button {
    @include font(3rem, 4.4rem);

    border: 3px solid black;
    border-radius: 20px;
  }
}

