.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.start-page__title {
  @include font(9rem, 10.5rem, 900);

  margin-bottom: 40px;
  text-shadow: 0 0 10px #131313;
}

.start-page__explanation {
  @include font(2.5rem, 4.5rem, 400);

  text-align: center;
  margin-bottom: 50px;
  text-shadow: 0 0 10px #131313;
}

.start-page__button-start {
  @include font(4rem, 6.5rem, 400);

  color: #012E4D;
  border-radius: 20px;
  padding: 5px 30px;
  background-color: #CBFFFD;
  border: 3px solid #012E4D;
  transition: 0.3s ease-in-out;

  &:hover {
    padding: 5px 80px;
    box-shadow: 0 0 5px #012E4D;
  }

  &:active {
    border-color: white;
  }
}
