html,body{
  height: 100%;
  width: 100%;
  margin: 0;
}
.audition-game__wrapper{
 height: 100%;
 width: 100%;
 margin: 0;
  font-size: 4rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,9,121,1) 58%, rgba(255,0,206,1) 100%);
}
.audition-game__answers{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10%;
    left: -50%;
    
}
.audition-game__element{
    border: 1px solid black;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    max-width: 270px;
    text-align: center;
    position: relative;
    padding: 20px 20px;
    transition: all .15s ease;
    border-radius: 5%;
    cursor: pointer;
    margin: 0 20px;
}
.audition-game__game{
    margin: 0 auto;
    height: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    max-width: 1080px;
}
.audition-game__title{
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 60px;
    color: #6cffde;
    opacity: .8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 13px;
}
.audition-game__description{
    margin: 0 auto 58px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: white;
}
.audition-game__button__start{
    cursor: pointer;
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    padding: 19px 15px 21px;
    text-decoration: none!important;
    min-width: 162px;
    color: #fff!important;
    background: #00c49d;
    border-radius: 4px;
    transition: all .15s ease;
}
.audition-game__startScreen{
    text-align: center;
    margin: 14% auto;
}
.hide{
    display: none;
}
.audition-game__container{
  height: 100%;
}
.statistic{
  line-height: normal;
}
.alarmDesc{
  line-height: normal;
}
.audition-game__correctanswer{
  position: relative;
  left: -50%;
  margin-bottom: 0;
  color: white;
  line-height: 0;
}
.audition-game__audio__pulse{
  margin: 0 auto;
  position: relative;
  left: -50%;
  margin-top: 21%;
  width: 150px;
  height: 150px;
  color: gray;
  font-family: Roboto;
  background: url('https://psv4.userapi.com/c856528/u106151900/docs/d5/465145c1b9eb/audio.png?extra=OQ8RQtFvwJrR2IiaqlBoUwv-xEITOssBMpYTCc03-L6JLUaBm_0pueQ1x3gt6HJ5xTg6XJJsNojxJC3d68v3tEZZtD4FBUjPinqnCyxjmqFwyWb5U2k7a1HcvU8mExfy61HuuDd417FGttnty_RV4GyMGg');
  background-size: cover;
  border-radius: 50%;
  animation: radial-pulse 1s infinite;
  display: block;
  background-repeat: no-repeat;
}
@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
   
    100% {
      box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
}
span{
    color: green;
}
.line-through{
    text-decoration: line-through;
    opacity: 1;
}
.audition-game__button__next{
    margin: 20% auto;
    position: relative;
    left: -50%;
    cursor: pointer;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    padding: 19px 15px 21px;
    text-decoration: none !important;
    min-width: 162px;
    color: #fff !important;
    background: lightpink;
    border-radius: 4px;
    white-space: nowrap;
}
.checked{
    opacity: 1;
}
.unchecked{
    opacity: .5;
}
.close {
    z-index: 1;
    cursor:pointer;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .progress{
      position: fixed;
      top: 0;
      left: 0;
      width: 0%;
      height: 4px;
      background-color: white;
  }
  .bg1{
    background: rgb(32,91,12);
    background: linear-gradient(90deg, rgba(32,91,12,1) 0%, rgba(97,9,121,1) 58%, rgba(255,0,206,1) 100%);
  }
  .bg2{
    background: rgb(89,91,12);
    background: linear-gradient(90deg, rgba(89,91,12,1) 0%, rgba(153,42,184,1) 58%, rgba(192,0,255,1) 100%);
  }
  .bg3{
    background: rgb(182,104,20);
    background: linear-gradient(90deg, rgba(182,104,20,1) 0%, rgba(153,42,184,1) 58%, rgba(199,15,15,1) 100%);
  }
  .bg4{
    background: rgb(176,182,20);
    background: linear-gradient(90deg, rgba(176,182,20,1) 0%, rgba(42,166,184,1) 58%, rgba(173,199,15,1) 100%);
  }
  .modal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .agreeToClose{
    background-color: #7892c2;
    border-radius: 28px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
    display: block;
    margin: 2vw auto;
  }
  .cancelToClose{
    background-color: #7892c2;
    border-radius: 28px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
    display: block;
    margin: 2vw auto;
  }