body{
    font-size: 4rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,9,121,1) 58%, rgba(255,0,206,1) 100%);
}
.answers{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45%;
    
}
.element{
    border: 1px solid black;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    max-width: 270px;
    text-align: center;
    position: relative;
    padding: 20px 20px;
    transition: all .15s ease;
    border-radius: 5%;
    cursor: pointer;
    margin: 0 20px;
}
.game{
    margin: 0 auto;
    max-width: 600px;
}
.gameName{
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 60px;
    color: #6cffde;
    opacity: .8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 13px;
}
.gameDesc{
    margin: 0 auto 58px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: white;
}
.gameStartButton{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    padding: 19px 15px 21px;
    text-decoration: none!important;
    min-width: 162px;
    color: #fff!important;
    background: #00c49d;
    border-radius: 4px;
    transition: all .15s ease;
}
.startScreen{
    margin: 14% auto;
}
.hide{
    display: none;
}
.audioPulse{
    position: absolute;
    top: 20%;
    left: 50%;
    right: 50%;
    width: 150px;
    height: 150px;
    color: gray;
    font-family: Roboto;
    background:url("https://psv4.userapi.com/c856528/u106151900/docs/d5/cbb2cd905626/audio.png?extra=WkoXkuoHCbjsCc5_frZiKM0kwKTuclLooYdbvx9OjoDMknCaKfm_TsxTxUUjkO5hYxtfhANH7nUpVN90bMbqX7wW5LfIoXeibLc0p1ifK3hHrAglZIcxurA7-VOZr0zM9Rki_bFF6Okg");
    background-size: contain;
    border-radius: 50%;
    animation: radial-pulse 1s infinite;
}
@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
   
    100% {
      box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
}
span{
    color: green;
}
.line-through{
    text-decoration: line-through;
    opacity: 1;
}
.nextBtn{
    position: absolute;
    top: 70%;
    left: 50%;
    right: 50%;
    cursor: pointer;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    padding: 19px 15px 21px;
    text-decoration: none !important;
    min-width: 162px;
    color: #fff !important;
    background: lightpink;
    border-radius: 4px;
    white-space: nowrap;
}
.checked{
    opacity: 1;
}
.unchecked{
    opacity: .5;
}
.close {
    cursor:pointer;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .progress{
      position: fixed;
      top: 0;
      left: 0;
      width: 0%;
      height: 4px;
      background-color: white;
  }
  .bg1{
    background: rgb(32,91,12);
    background: linear-gradient(90deg, rgba(32,91,12,1) 0%, rgba(97,9,121,1) 58%, rgba(255,0,206,1) 100%);
  }
  .bg2{
    background: rgb(89,91,12);
    background: linear-gradient(90deg, rgba(89,91,12,1) 0%, rgba(153,42,184,1) 58%, rgba(192,0,255,1) 100%);
  }
  .bg3{
    background: rgb(182,104,20);
    background: linear-gradient(90deg, rgba(182,104,20,1) 0%, rgba(153,42,184,1) 58%, rgba(199,15,15,1) 100%);
  }
  .bg4{
    background: rgb(176,182,20);
    background: linear-gradient(90deg, rgba(176,182,20,1) 0%, rgba(42,166,184,1) 58%, rgba(173,199,15,1) 100%);
  }
  .modal {
    // display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .agreeToClose{
    background-color: #7892c2;
    border-radius: 28px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
    display: block;
    margin: 2vw auto;
  }
  .cancelToClose{
    background-color: #7892c2;
    border-radius: 28px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
    display: block;
    margin: 2vw auto;
  }