$colorTitle:#6cffde;
$startBtn:#00c49d;
$audition-game__wrapperColor1: rgba(2,0,36,1);
$audition-game__wrapperColor2: rgba(88,9,121,1);
$audition-game__wrapperColor3: rgba(255,0,206,1);
$audioPNG:'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDE5IDI0Ij4KICAgIDxnIGZpbGw9IiNGRkYiPgogICAgICAgIDxwYXRoIGQ9Ik04Ljc3OCAyLjE1NlYxMi4zNzNjLS42MzctLjI1MS0xLjMxNi0uMzc4LTItLjM3My0xLjU5My0uMDA2LTMuMTIzLjYyNC00LjI1IDEuNzVDMS40MDMgMTQuODc4Ljc3MyAxNi40MDguNzc5IDE4Yy0uMDA2IDEuNTkuNjIyIDMuMTE3IDEuNzQ0IDQuMjQzQzMuNjQ1IDIzLjM2OSA1LjE3IDI0IDYuNzYgMjRjMy4wNTIuMDAxIDUuNjEzLTIuMyA1LjkzOC01LjMzM2guMDhWNi45MjVsLTQtNC43N3oiLz4KICAgICAgICA8cGF0aCBkPSJNMTIuNzYgNEwxOC4wNzYgNCAxOC4wNzYgMCA4Ljc2IDAgOC43NiA0LjQ0NCAxMi43NiA4LjQ0NHoiLz4KICAgIDwvZz4KPC9zdmc+Cg==';
$soundBtn:'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDE5IDI0Ij4KICAgIDxnIGZpbGw9IiNGRkYiPgogICAgICAgIDxwYXRoIGQ9Ik04Ljc3OCAyLjE1NlYxMi4zNzNjLS42MzctLjI1MS0xLjMxNi0uMzc4LTItLjM3My0xLjU5My0uMDA2LTMuMTIzLjYyNC00LjI1IDEuNzVDMS40MDMgMTQuODc4Ljc3MyAxNi40MDguNzc5IDE4Yy0uMDA2IDEuNTkuNjIyIDMuMTE3IDEuNzQ0IDQuMjQzQzMuNjQ1IDIzLjM2OSA1LjE3IDI0IDYuNzYgMjRjMy4wNTIuMDAxIDUuNjEzLTIuMyA1LjkzOC01LjMzM2guMDhWNi45MjVsLTQtNC43N3oiLz4KICAgICAgICA8cGF0aCBkPSJNMTIuNzYgNEwxOC4wNzYgNCAxOC4wNzYgMCA4Ljc2IDAgOC43NiA0LjQ0NCAxMi43NiA4LjQ0NHoiLz4KICAgIDwvZz4KPC9zdmc+Cg==';
$soundBtnMuted:'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRkYiPgogICAgICAgIDxwYXRoIGQ9Ik05Ljc3OCA4LjIxM0wxLjU4MiAwIDAgMS41NzhsOS43NzggOS43Nzh2MS4wMTdjLS42MzctLjI1MS0xLjMxNi0uMzc4LTItLjM3My0xLjU5My0uMDA2LTMuMTIzLjYyNC00LjI1IDEuNzUtMS4xMjYgMS4xMjctMS43NTYgMi42NTctMS43NSA0LjI1LS4wMDYgMS41OS42MjIgMy4xMTcgMS43NDQgNC4yNDNDNC42NDUgMjMuMzY5IDYuMTcgMjQgNy43NiAyNGMzLjA1Mi4wMDEgNS42MTMtMi4zIDUuOTM4LTUuMzMzaC4wOHYtMy4zMzRMMjIuNDE4IDI0IDI0IDIyLjQzMSAxMy43NzggMTIuMjFsLTQtMy45OTZ6TTEzLjc2IDRMMTkuMDc2IDQgMTkuMDc2IDAgOS43NiAwIDkuNzYgNC40NDQgMTMuNzYgOC40NDR6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=';
// $bulb:'https://lh3.googleusercontent.com/proxy/MbfzgMiu-hs-AMn8pIvnzboNXqw6k_FKUJ5FUiv_Rn8AsV10oASA1tQIlBXHWM-E5b4k75EmEO-8U8P9TMtoaijnmnocyV08RFBK7kNdg52MSPAF__M7pDLoXjcXvj07XIYdBtu-GsiTo7K7s-ClHDGODf6Hz6E20eyM-M0';
$bulb:'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAACP0lEQVRoge2Yv0pcQRSHv3WDGIvAksIyamxiFrQzKPgCFiJsk84mTxAT2whJ3CaPEAQhps4jCIJNCisLi0BE110bsRHM4m6KO5Osy+7mnDt/rob7wYGFOTPz+92dOXPvQE5OEAqexysC88AysABMAiXTdgH8APaAb8A+cON5fmceAm+BBtAWRgN4A4xkoLcnFeAYuYHu+AmsRFfdQQF4B7RIb8JGC6gCQzENYCb86iC8X3zB/74dyIcAJmxsxDJRwc9yGrTMgu+ZEdw2tjROSCphMNYjmLCxFspEEd054Rp1AlWxxYgmbCxIxWkcLytyfSGeU2NkPoUQV8Rzaow8TSHElSlpouYUvQaG9VqcuEb4Uqn5R9rCvDlglqTqdFM3bS8U83rnHFmlmTH50yTCO8vptGmbFY7VCGHkQDj5GfDM9HluxDTMb0zbmXCs7yGMbAsnt0/fCi+bsMbqinG2Qhh5pRBgl0W5o38Z/ZvByxBGxoCmUsh5R3/pHrNxCTwKYQTSfUxZtP2qoUxAUnV+RTByBIyGNALwPrCRJpFehx4AuwphFkluC1iN4OEPJeBQKM4iyV2PI/82T5CdCZZ/5X2KJbwXc8BVD1FaI/skSzZTXuNuZCmi3r6M4W7ksasIX7d67QFtBUVOaqLftYYiN3LX+G+M5Nw1YpRfCXn5teRGuqg59D31IcCXke2M+npnGNgkebrSL8cT4CPx75NVbNHfwOcMdakZp/e1aI3ky/JeMQns8PfudweYyFTRfeA38d06z7ZtuBgAAAAASUVORK5CYII=';
$bg1_1: rgb(32,91,12);
$bg1_2:rgba(97,9,121,1);
$bg1_3:rgba(255,0,206,1);
$bg2_1:rgb(89,91,12);
$bg2_2:rgba(153,42,184,1);
$bg2_3:rgba(192,0,255,1);
$bg3_1:rgb(182,104,20);
$bg3_2:rgba(153,42,184,1);
$bg3_3:rgba(199,15,15,1);
$bg4_1:rgb(176,182,20);
$bg4_2:rgba(42,166,184,1);
$bg4_3:rgba(173,199,15,1);
$shadow1:rgba(0, 0, 0, 0.5);
$shadow2:rgba(0, 0, 0, 0);
$nextBtnBg:lightpink;
$progressBar:white;
$modalBg:rgba(0,0,0,0.4);
$agreeToCloseBtnBg:#7892c2;
$agreeToCloseBtnBorder:#4e6096;
$cancelToCloseBtnBg:#7892c2;
$cancelToCloseBtnBorder:#4e6096;
$textShadow:#283966;
$textColor:#ffffff;
$closeBg:#333;
$green:green;
$modal-contentBg:#fefefe;
$modal-contentBorder: #888;