.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  opacity: 0.8;
  z-index: 2000;
}
.preloader__visible {
  display: block;
}

.preloader_content {
  display: none;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
}

.preloader__visible > .preloader_content {
  display: block;
}

.preloader_first,
.preloader_second,
.preloader_third {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: 1s linear infinite;
}

.preloader_first {
  border-bottom: 4px solid red;
  animation-name: first;
}
.preloader_second {
  border-right: 4px solid yellow;
  animation-name: second;
}
.preloader_third {
  border-top: 4px solid lightseagreen;
  animation-name: third;
}

@keyframes first {
  0% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg)}
  100% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)}
}
@keyframes second {
  0% {transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg)}
  100% {transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)}
}
@keyframes third {
  0% {transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg)}
  100% {transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)}
}
