.container {
  width: 70%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
.start-game-window {
  width: 50%;
  padding: 10px 15px;
  border: 1px solid $start-game-window-border-color;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  @include media-tablet {
    width: 90%;
    margin-top: 0;
  }
}
.start-button {
  padding: 10px;
  width: 120px;
  text-transform: uppercase;
  margin: 20px auto 0;
  display: block;
}
.game-name {
  @include font(3rem);
}
.game-rules {
  @include font(2.2rem);
}
.select__container {
  padding-top: 25px;
}
.select__title {
  @include font(2.0rem);
}
.select__item {
  margin-top: 10px;
}

.select_hidden {
  display: none;
}
