.start-window-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $game-background-color;
}

.start-game-window {
  width: 60%;
  height: fit-content;
  background-color: $modal-window-main-background;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
}

.start-button {
  position: relative;
  padding: 10px;
  min-width: 120px;
  margin: 0 10px 0 10px;
  background: none;
  outline: none;
  cursor: pointer;
  border: 1.5px solid $start-game-window-border-color;
  text-transform: uppercase;
  @extend %start-window-start-button-transition;
  box-shadow: 0px 4px 10px 2px rgba($start-game-window-border-color, 0.2);
  z-index: 1;

  &:before{
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background: $game-background-or-hover-for-buttons;
    top: 0;
    left: 50%;
    z-index: -1;
    @extend %start-window-start-button-before-transition;
  }
  
  &:hover{
    color: $start-game-window-text-hover-color; 
    box-shadow:none;
    &:before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: $game-background-or-hover-for-buttons;
      top: 0;
      left: 0%;
      z-index: -1;
      @extend %start-window-start-button-before-hover-transition;
    }
  }
}

.game-name {
  @include font(3rem);
  margin-bottom: 15px;
}

.game-rules {
  @include font(2rem, 2.5rem);
}

.gameWindow__container {
  @include font(1.6rem);

  margin-top: 10px;
  margin-bottom: 30px;
  height: 40%;
}

.gameWindow__select-title {
  @include font(1.7rem);
}

.gameWindow__container .select__item {
  margin-top: 10px;
  height: 20%;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid $game-background-or-hover-for-buttons;
  background-color: none;
}

.gameWindow__container .select__item:focus,
.gameWindow__container .select__item:hover {
  cursor: pointer;
  outline: none;
  border-color: 1px solid $game-background-color;
}

.select_hidden {
  display: none;
}

@media(max-width: 1150px) {
  .start-game-window {
    width: 55% !important;
  }
}

@media(max-width: 820px) {
  .game-rules {
    @include font(1.8rem, 2.3rem);
  }
}

@media(max-width: 600px) {
  .start-game-window {
    width: 65% !important;
  }
}

@media(max-width: 500px) {
  .start-game-window {
    width: 80% !important;
  }
}

@media(max-width: 400px) {
  .start-game-window {
    width: 85% !important;
  }

  .gameWindow__container {
    height: 35%;
  }
}

@media(max-width: 360px) {
  .game-rules {
    @include font(1.6rem, 2rem);
  }

  .gameWindow__container {
    height: 30%;
  }

  .start-button {
    margin: 0 5px 0 5px;
  }
}
