	.auth-wrapper {
		position: absolute;
		top: 0;
		min-width: 100vw;
		min-height: 100vh;
		background: $authentication-input-background-color;
		font-family: IBM Plex Mono !important;
		font-style: normal !important;
		user-select: none;
	}

	.logo-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100vw;
		height: 20vh;
		position: absolute;
    top: 10%;
	}

	.logo {
		width: 12rem;
		height: 12rem;
		background: $authentication-logo-img no-repeat;
		background-size: contain;
		margin-left: 10%;
		position: relative;
    bottom: 30%;
	}


	.chicken {
		width: 30vw;
		height: 30vh;
		background: $authentication-chicken-img no-repeat;
		background-size: contain;
	}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: $authentication-main-contain-background;
	width: fit-content;
	margin: 0 auto;
	margin-top: 40vh;
	border-radius: 10px;
	font-size: 18px;
	position: relative;
	top: 10%;
	z-index: 999;
}

.main-content button {
	width: 300px;
		height: 40px;
		box-sizing: border-box;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 2px;
		font-size: 18px;
		background: $authentication-btn-color;
		margin: 2rem 0;
		border: none;
}

.authentication__buttons {
	margin: 0 3rem;
}

	.main-auth-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.discription-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		border-radius: 50px;
		padding: 1rem;
		text-align: center;
		max-width: 40rem;
		margin-left: 10%;
	}

	.discription {
		color: white;
		font-family: IBM Plex Mono;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 2;
		letter-spacing: 0.13em;
	}

	.main-content button:hover{
		transform: scale(1.1);
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}

	.main-content button:active {
		transform: scale(1);
	}

	.authorization-container {
		border-radius: 3px;
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3rem;
		margin: 0 2rem;
	}

	.main-content label, .main-content input {
		align-self: start;
		font-weight: 500;
		width: 100%;
		height: 2rem;
	}

	.main-content label {
		margin-bottom: 0;
		margin-top: 1rem;
	}

	.main-content input {
		margin: 1rem 0;
	}

	.authorization__field-container {
  	display: flex;
		flex-direction: column;
  }
$breakpoint-tablet: 996px;
@media (max-width: $breakpoint-tablet) {
  .discription-container {
  	display: none;
  }
}

$xs: 500px;
@media (max-width: $xs) {
  .chicken {
  	display: none;
  }

  .main-content button {
  	width: 200px
  }

  .main-content input {
  	width: 200px
  }
}
