* {
    margin: 0 auto;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container, .start-window, .result-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.submit-button, .information-button, .game-button{
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 10px;
    outline: none;
    background-color: rgb(255, 177, 153);
    border: none;
    transition: all 0.5s;
    margin-top: 10px;
}

.submit-button:hover, .information-button:hover, .game-button:hover{
    background:rgb(255, 88, 88);
    color:white;
    box-shadow: inset 0 0 0 1px #3a7999;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.start-block_information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    text-align: center;
    font-size: 1.2em;
}

.information-title {
    margin-bottom: 20px;
    font-size: 2em;
}

.hidden-element {
    display: none;
}

.game-container {
    width: 100%;
    height: 100%;
}

.game-block {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.control-block {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
}

.game-mode-selects, .control-buttons_container {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.select-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.select-block p::after {
    content: ':';
    margin-right: 2px;
}

.select-block_mode {
    width: 60%;
    max-width: 60px;
    min-width: 45px;
    height: 40%;
    background-color:  lightcyan;
    border: 2px solid rgb(255, 177, 153);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.control-buttons_container button, .new_lvl-button {
    position: relative;
    margin: 1px;
    width: 45px;
    height: 45px;
    outline: none;
    cursor: pointer;
    background-color: lightcyan;
    border: 2px solid rgb(255, 177, 153);
    border-radius: 5px;
    transition: all 0.5s;
    font-size: 1.5em;
}

.button-sintezise::before {
    position: absolute;
    left: 25%;
    bottom: 20%;
    content: '\1F508';
}

.button-trunslate::before {
    position: absolute;
    left: 25%;
    bottom: 20%;
    content: '\240A';
}

.button-background::before {
    position: absolute;
    left: 25%;
    bottom: 20%;
    content: '\1F3B4';
}

.button-logout::before {
    position: absolute;
    left: 25%;
    bottom: 20%;
    content: '\1F6AA';
}

.sound-button {
    position: absolute;
    left: 0;
    top: 7px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.translate-sentense {
    text-align: center;
    width: 70%;
    height: 80%;
}

.control-buttons_container button:hover {
    border-radius: 50%;
}

.new_lvl-button:hover {
    border-radius: 50%;
    background-color: rgb(255, 88, 88);
}

.new_lvl-button::before {
    position: absolute;
    left: 25%;
    bottom: 20%;
    content: '\1F50E';
}


.control-buttons_container .active-button {
    background-color: rgb(255, 88, 88);
    border-color: black;
}

.game-block_field {
    height: 85%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.game-block_field--tooltips,
.game-block_field--puzzle,
.game-block_field--description,
.game-block_field--buttons {
    margin-bottom: 1%;
    width: 70%;
    display: flex;
}

.game-block_field--tooltips {
    background-color: lightcyan;
    position: relative;
    height: 9%;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.game-block_field--puzzle {
    background-color: rgb(255, 177, 153);
    height: 60%;
    width: 75%;
    flex-direction: column;
}

.puzzle-row {
    height: 10%;
    width: 100%;
}

.game-block_field--description {
    background-color: rgb(255, 177, 153);
    height: 10%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.game-block_field--buttons {
    height: 10%;
    justify-content: center;
    align-items: center;
}

.canvas-item:not(:first-child) {
    margin-left: -8px;
}

.canvas-item {
  height: 35px;
  cursor: pointer;
}

.group-words {
  display: flex;
}

.row-hover {
    background-color: lightblue;
}