.sprint-game-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	min-width: 100vw;
	min-height: 100vh;
	position: absolute;
	top: 0;
}

.start-game-window {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.start-game-window h2 {
	font-size: 6rem;
}

.game-choice {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 4rem 0;
	font-size: 2rem;
}

.game-choice select {
	font-size: 2rem;
}

.none {
	display: none;
}

.block {
	display: block;
}

.flex {
	display: flex;
}

.sprint-btn:active {
	border-style: inset;
	transform: scale(0.9);
}

.sprint-btn:active, .sprint-btn:focus, input:active, input:focus {
  outline: none !important;
}

.sprint-btn::-moz-focus-inner {
  border: 0 !important;
}

.timer {
	font-size: 12rem;
	text-align: center;
	color: white;
}

.game-container {
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 50vh;
	width: 50vw;
	margin: 10%;
	border: 5px solid white;
}

.answers_buttons-container button {
	width: 10rem;
	height: 5rem;
	font-size: 2rem;
	margin: 0 2rem;
	border: none;
	border-radius: 12px;
	color: white;
}

.yes-button {
	background: linear-gradient(#046500, #7bb13d);
}

.no-button {
	 background: linear-gradient(#bf0000, #F44336);
}

.game_answers-container {
	width: 15rem;
	height: 5rem;
	background: white;
	border-radius: 24px;
	font-size: 5rem;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	display: flex;
}

.countdown {
  position: absolute;
	top: -70px;
	left: 40px;
  margin: auto;
  margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 2rem;
}

.countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 60s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

.score {
	color: white;
	font-size: 4rem;
	position: absolute;
	top: 5%;
}

.factor {
	font-size: 2rem;
	font-weight: bold;
}

.stat-container {
	position: absolute;
	top: 0;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: white;
	font-size: 2rem;
}

.incorrect-answers, .correct-answers {
	font-size: 2rem;
}

.incorrect-stat-container, .correct-stat-container {
	width: 100%;
	padding-left: 10%;
	padding-bottom: 2rem;
}

.word, .Translation {
	font-size: 3rem;
	color: white;
}

.word:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: transform 0.5s;
}

.restart-button {
	position: fixed;
	bottom: 8vh;
	right: 10%;
}

.audio-icon {
	width: 3rem;
	height: 3rem;
	background: url(../assets/images/audio.png) no-repeat;
	background-size: cover;
	margin-right: 2rem;
}

.audio-icon:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.answer-cont {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}

.sound-icon {
	width: 3rem;
	height: 3rem;
	background: url(../assets/images/sound_on.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: 10px;
	right: 60px;
}

.sound-icon:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.sound-icon:active {
	transform: scale(1);
}

.muted {
	background: url(../assets/images/mute.png) no-repeat;
	background-size: cover;
}

.game-audio_button {
	width: 3rem;
	height: 3rem;
	background: url(../assets/images/game_audio.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: 10px;
	right: 100px;
}

.game-audio_button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.game-audio_button:active {
	transform: scale(1);
}
@media (max-width: 1400px) {
  .game-rules {
  	font-size: 2rem;
  }
}

@media (max-width: 775px) {
  .start-button, .restart-button, .GoToMenu-button {
  	font-style: 2rem;
  }

  .game-rules {
  	font-size: 16px;
  }

  .start-game-window h2 {
    font-size: 4rem;
  }

  .game-container {
  	width: 80vw;
  }
}

@media (max-width: 500px) {
  .game-rules {
  	font-size: 14px;
  	width: 80%;
  }

  .start-button, .restart-button, .GoToMenu-button {
  	margin-top: 2rem;
  	font-size: 2rem;
  }

  .answers_buttons-container {
  	display: flex;
    flex-direction: column;
  }

  .no-button {
  	order: 1;
    margin-top: 2rem !important;
  }

  .factor {
  	font-size: 1.5rem;
  }

  .word {
  	font-size: 2rem;
  }

  .score {
  	top: 15%;
  }

  .stat-container {
  	font-size: 1rem;
  }
}

