.find-a-pair {
  border: 1px solid $find-a-pair-border-color;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  width: auto;
  max-width: $content-width;
  @include media-tablet {
    min-width: 320px;
  }
}

.find-a-pair__start-page {
  width: fit-content;
}

.find-a-pair__about,
.find-a-pair__gamelevel {
  text-align: center;
  @include font(1.5rem);
  width: 300px;
}

.find-a-pair__startgame-button,
.find-a-pair__newgame-button {
  border-radius: 15px;
}

.find-a-pair__playing-field {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.find-a-pair__result-text {
  @include font(2rem);
}

.find-a-pair__finded-pairs,
.find-a-pair__next-level {
  @include font(1.3rem);
}
