* {
  margin: 0 auto;
}

body {
  width: 100vw;
}

.vocabulary-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  min-width: 320px;
  z-index: 1;
}

.vocabulary__header {
  display: flex;
  width: 87%;
  min-height: 50px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 1% auto 1% auto;
}

.vocabulary__header-item {
  position: relative;
  color: #aaa;
  border: none;
  text-transform: uppercase;
  width: 185px;
  height: 30px;
  font-size: 15px;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  overflow: hidden;
}

.vocabulary__header-item::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: $game-background-or-hover-for-buttons;
  transition: 0.5s;
}

.vocabulary__header-item:hover {
  color: #fff;
}

.vocabulary__header-item:hover::before {
  animation: animate .5s linear forwards; 
}

@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

.vocabulary__title-container {
  text-align: center;
  margin-bottom: 2%;
}

.vocabulary__title {
  @include font(3.5rem, 4rem);
}

.vocabulary__words-count {
  @include font(1.6rem, 2rem);
}

.vocabulary__word-item {
  @include font(2rem);

  border: 1px solid black;
  display: flex;
  flex-direction: column;

  width: 75%;
}

.vocabulary__words-list {
  display: flex;
  max-height: 500px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.word-item__additional-data {
  width: 100%;
  display: none;
  background-color: $game-background-light-yellow;
  border-radius: 10px;
}

.active-vocword {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.word-item__main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
}

.word-item__main-info {
  display: flex;
}

.word-item__sentences {
  width: 100%;
  padding: 5px 0 5px 0;
  text-align: center;
}

.vocabulary__extra-word-item {
  @include font(2rem);

  display: flex;
  justify-content: space-between;

  width: 50%;
  margin-bottom: 20px;
  border-bottom: 3px solid;
}

.word-item__audio {
  cursor: pointer;

  display: flex;
  align-items: center;
  padding: 5px;
}

.word-item__icon {
  font-size: 3rem;
}

.word-item__image-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-width: 100px;
  min-height: 100px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.vocabulary__learning-progress {
  padding: 5px;
}

.vocabulary__learning-progress .learning-progress__parameter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.vocabulary__exit-button {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 20px;
  opacity: 0.5;
  transition: all 300ms;
}

.vocabulary__exit-button:hover {
  transform: rotateX(180deg);
  opacity: 1;
}

.vocabulary__exit-button:before, 
.vocabulary__exit-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: $game-background-or-hover-for-buttons;
}

.vocabulary__exit-button:before {
  transform: rotate(45deg);
}

.vocabulary__exit-button:after {
  transform: rotate(-45deg);
}