.vocabulary-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  min-width: 320px;
  background-image: $vocabluary-background;

  & * {
    margin: 0 auto;
  }
}

.vocabulary__main-content {
  width: 100%;
}

.vocabulary {
  width: 100%;
}

.vocabulary__header {
  display: flex;
  width: 87%;
  min-height: 50px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.vocabulary__header-item {
  position: relative;
  color: #aaa;
  border: none;
  z-index: 1;
  text-transform: uppercase;
  width: 185px;
  height: 30px;
  font-size: 15px;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
  @extend %vocabulary-header-button-transition;
  overflow: hidden;
}

.vocabulary__header-item::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: $game-background-or-hover-for-buttons;
  @extend %vocabulary-header-button-before-transition;
}

.vocabulary__header-item:hover {
  color: $vocabluary-text-hover-color;
}

.vocabulary__header-item:hover::before {
  animation: animate .5s linear forwards; 
}

@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

.vocabulary__title-container {
  text-align: center;
  margin-bottom: 2%;
}

.vocabulary__title {
  max-width: 305px;
  @include font(3.5rem, 4rem);
  border-bottom: 1.5px solid $game-background-or-hover-for-buttons;
  margin-bottom: 1%;
}

.vocabulary__words-count {
  @include font(1.6rem, 2rem);
  padding: 5px;
  width: 140px;
  background-color: $game-background-or-hover-for-buttons;
  color: $vocabluary-text-hover-color;
}

.vocabulary__word-item {
  @include font(2rem);
  position: relative; 
  display: flex;
  flex-direction: column;
  width: 100%;
  @extend %vocabulary-word-item-transition;  
  cursor: pointer;
  user-select: none;
}

.vocabulary__word-item:before,
.vocabulary__word-item:after {
  content: '';
  position: absolute; 
  transition: inherit;
  z-index: -1;
}

.vocabulary__word-item:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid $game-background-or-hover-for-buttons;
  border-left: 0;
  border-right: 0;
}

.vocabulary__word-item:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: $game-background-or-hover-for-buttons;
}

.vocabulary__word-item:hover {
  color: $vocabluary-text-hover-color;
  transition-delay: .5s;
}

.vocabulary__word-item:hover:before {
  left: 0;
  width: 100%;
  transition-delay: 0s;
}

.vocabulary__word-item:hover:after {
  background: $game-background-or-hover-for-buttons;
  transition-delay: .35s;
  top: 0;
  height: 100%;
}

.vocabulary__words-list {
  position: relative;
  width: 75%;
  display: flex;
  max-height: 70vh;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  border-left: 1.5px solid $game-background-or-hover-for-buttons;
  border-right: 1.5px solid $game-background-or-hover-for-buttons;

  &::-webkit-scrollbar {
    width: 10px;
  }
   
  &::-webkit-scrollbar-thumb {
    background: $game-background-light-blue; 
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: $game-background-or-hover-for-buttons; 
  }
}

.vocabulary__words-list:before {
  content: '';
  position: absolute;
  width: 70px;
  border-bottom: 1.5px solid $game-background-or-hover-for-buttons;
  top: 0;
  left: 0;
}

.word-item__additional-data {
  width: 100%;
  display: none;
  background-image: $vocabluary-additional-data-background;
}

.active-vocword {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: $vocabluary-text-color;
}

.active-vocword-button {
  background-color: $game-background-or-hover-for-buttons;
  color:  $vocabluary-text-hover-color;
}

.word-item__main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
}

.word-item__main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.word-item__sentences {
  width: 100%;
  padding: 5px 0 5px 0;
  text-align: center;
}

.vocabulary__extra-word-item {
  @include font(2rem);
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1%;
}

.vocabulary__extra-word-item .active-vocword-button {
  background: none;
  color: inherit;
}

.word-item__restore-button {
  z-index: 1;
  position: relative;
  height: 30px;
  padding: 5px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $game-background-or-hover-for-buttons;
}

.word-item__restore-button:before,
.word-item__restore-button:after {
  position: absolute;
  content: " ";
  z-index: -1;
  width: 10%;
  top: 50%;
  height: 2px;
  background: $game-background-or-hover-for-buttons;
  @extend %vocabulary-restore-button-transition;
}

.word-item__restore-button:before {
  left: -10%;
}

.word-item__restore-button::after {
  right: -10%;
}

.word-item__restore-button:hover {
  background: $game-background-or-hover-for-buttons;
  color: #fff;
}

.word-item__restore-button:hover:before {
  left: 0%;
}

.word-item__restore-button:hover:after{
  right: 0%;
}

.word-item__audio {
  cursor: pointer;

  display: flex;
  align-items: center;
  padding: 5px;
  @extend %vocabulary-audio-icon-transition;
}

.word-item__audio:hover {
  color: $vocabluary-text-hover-color;
  transform: scale(1.2);
  opacity: 0.7;
}

.word-item__icon {
  font-size: 3rem;
}

.word-item__image-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-width: 100px;
  min-height: 100px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.vocabulary__learning-progress {
  padding: 5px;
}

.vocabulary__learning-progress .learning-progress__parameter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.vocabulary__exit-button {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 20px;
  opacity: 0.5;
  @extend %vocabulary-exit-button-transition;
}

.vocabulary__exit-button:hover {
  cursor: pointer;
  transform: rotateX(180deg);
  opacity: 1;
}


.vocabulary__exit-button:before, 
.vocabulary__exit-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: $game-background-or-hover-for-buttons;
}

.vocabulary__exit-button:before {
  transform: rotate(45deg);
}

.vocabulary__exit-button:after {
  transform: rotate(-45deg);
}

.vocbulary__message {
  @include font(2rem);
}

@media (max-width: 480px) {
  .vocabulary__words-list {
    width: 85%;
    height: 65vh;
  }

  .word-item__main {
    height: 55px;
  }
}