.main-game {
  @include font(2rem, 2.5rem);

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  margin: 0 20px;
}

.main-game__controls {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 50px;
}

.main-game__main-container {
  box-shadow: 0 0 10px $standard-border-color;
  border-radius: 20px;
  padding: 30px 10px;
  margin-bottom: 50px;
  min-width: 65vw;
}

.main-game__word-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-card__sentences {
  text-align: center;
  margin-bottom: 10px;

  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.main-game__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.main-game__form-buttons {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.word-card__input-container {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-bottom: 10px;
}

.word-card__vocabulary-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
}

.word-card__input {
  @include font(2rem, 2.5rem);
}

.word-card__input-container {
  position: relative;
}

.word-card__input-wrapper {
  position: relative;
}

.word-card__user-answer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;

  &_translucent {
    opacity: 0.5;
  } 
}

.word-card-letter {
  @include font(2.5rem);

  &_correct {
    color: $correct-letter-color;
  }

  &_not-many-mistakes {
    color: $not-many-mistakes-letter-color;
  }

  &_many-mistakes {
    color: $many-mistakes-letter-color;
  }
}

.main-game__estimate-buttons {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  margin-top: 15px;
}

.word-card__sentence-word-container {
  border-bottom: 1px solid $standard-border-color;
  padding-bottom: 3px;
}

.word-card__sentence-word {
  opacity: 0;

  &_visible {
    opacity: 1;
  }
}

.word-card__translation {
  opacity: 1;

  &_hidden {
    opacity: 0;
  }
}

.hidden-translation {
  opacity: 0;
}

.main-game__progress-bar {
  height: 10px;
}

.main-game__progress-background {
  background-color: $standard-progress-bar-background;
  height: 10px;
  max-width: 30rem;
  margin: 0 10px;
}

.main-game__progress-bar-line {
  background-color: $standard-progress-bar-line-color;
}
