.main-game {
  @include font(2rem, 2.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-card__input {
  @include font(2rem, 2.5rem);

  position: relative;
}

.word-card__input-container {
  position: relative;
}

.word-card__user-answer {
  position: absolute;
  top: 0;
  margin-left: 4px;

  &_translucent {
    opacity: 0.5;
  } 
}

.word-card-letter {
  @include font(2rem, 2.5rem);

  &_correct {
    color: $correct-letter-color;
  }

  &_not-many-mistakes {
    color: $not-many-mistakes-letter-color;
  }

  &_many-mistakes {
    color: $many-mistakes-letter-color;
  }
}

.main-game__estimate-buttons {
  display: flex;
  justify-content: space-around;
}

.word-card__sentence-word-container {
  border-bottom: 1px solid $standard-border-color;
  padding-bottom: 3px;
}

.word-card__sentence-word {
  opacity: 0;

  &_visible {
    opacity: 1;
  }
}

.main-game__progress-bar {
  height: 10px;
}

.main-game__progress-background {
  background-color: $standard-progress-bar-background;
  height: 10px;
  max-width: 30rem;
  margin: 0 10px;
}

.main-game__progress-bar-line {
  background-color: $standard-progress-bar-line-color;
}
