.main-page {
  min-height: 100vh;
}

.main-page__user-content {
  padding-top: 110px;

  @include media-mobile {
    padding-top: 78px;
  }
}

#logout-modal {
  z-index: 1500;
}

.burger-menu-overlay {
  @extend %burger-menu-transition;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  display: none;
  background: $main-page--burger-menu-overlay;
  margin: auto;
  opacity: 0;
  transform: translateX(-150%);
  z-index: 1100;

  @include media-tablet {
    display: block;
  }

  &_visible {
    opacity: 1;
    transform: translateX(0);
  }
}
