$labtop-l-width: 1440px;
$content-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 425px;
$mobile-small-width: 320px;

$checkbox-tick-path: '../../src/assets/images/main-game/checkbox-tick.svg';
$standard-border-color: #000000;

$speak-it-overlay-background: rgba(241, 243, 245, 0.5);
$speak-it-microphone-background: #ffffff;
$speak-it-microphone-enabled-color: rgb(130, 201, 30);
$speak-it-microphone-disabled-color: #dc143c;
$speak-it-microphone-enabled-shadow-1:rgba(130, 201, 30, 0.5);
$speak-it-microphone-enabled-shadow-2:rgba(130, 201, 30, 0.2);
$speak-it-microphone-disabled-shadow-1:rgba(220, 20, 60, 0.5);
$speak-it-microphone-disabled-shadow-2:rgba(220, 20, 60, 0.2);
$speak-it-standard-button-background: #012E4D;
$speak-it-standard-button-background-hover: #8597A1;
$speak-it-standard-button-text-color: #ffffff;
$speak-it-standard-box-shadow: #131131;
$speak-it-score-color: #2ecc71;
$speak-it-guessed-card-border-color:#21A465;
$speak-it-skipped-card-border-color: #ED8044;
$speak-it-transcription-color: rgb(162, 148, 148);
$speak-it-standard-text-shadow: #131313;
$speak-it-start-button-background: #CBFFFD;
$speak-it-correct-color: #ff0000;
$speak-it-incorrect-color: #7fff00;

$main-game-background-color: #ACF0F2;
$main-game-word-card-background: #F3FFE2;
$main-game-standard-border-color: #000000;
$main-game-standard-text-color: #000000;
$main-game-input-background: #EB7F00;
$main-game-word-card-input-background: #ffffff;
$main-game-button-hover-text: #ffffff;
$main-game-correct-letter-color: #28C38A;
$main-game-not-main-game-many-mistakes-letter-color: #FF934D;
$main-game-many-mistakes-letter-color:#FF0000;
$main-game-remove-button-background-hover:#FF0000;
$main-game-standard-progress-bar-background: rgba(22, 149, 163, 0.3);
$main-game-standard-progress-bar-line-color: #1695A3;
$main-game-completed-progress-bar-line-color: #16C60C;
$main-game-header-box-shadow-color: rgba(0, 0, 0, 0.25);
$main-game-disabled-button-background: rgba(128, 128, 128, 0.5);
$main-game-chicken-image-path: '../../src/assets/images/main-game/main-game-chicken.png';

$daily-statistics-overlay-background: rgba(19, 19, 19, 0.3);
$daily-statistics-text-color: #ffffff;
$daily-statistics-background: #1695A3;

$english-puzzle-field-and-buttons-back: rgb(255, 177, 153);
$english-puzzle-button-hover-background: rgb(255, 88, 88);
$english-puzzle-text-color: white;
$english-puzzle-button-hover-shadow: #3a7999;
$english-puzzle-help-zone: lightcyan;
$english-puzzle-border-black: black;
$english-puzzle-right-cards: red;
$english-puzzle-false-cards: green;
$english-puzzle-row-hover: #ec8000;
$english-puzzle-background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);

$savannah-tablet-width: 600px;
$savannah-background: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
$savannah-number-reverse: #008000;
$savannah-russian-word: #008000;
$savannah-english-word: #5f9ea0;
$savannah-russian-word-border: #4682b4;
$savannah-russian-word-number: #0b3342;
$savannah-word-correct: #90ee90;
$savannah-word-error: #d87093;
$savannah-border-black: #000000;
$savannah-background-white: #ffffff;
$savannah-background-sound-off: #ad58b8;
$savannah-plus-lives: #dc143c;

$modal-window-background: rgba(0,0,0,0.6);
$modal-window-border-color: #000000;
$modal-window-main-background: #ffffff;

$start-game-window-border-color: #000000;
$start-game-window-text-hover-color: white;

$find-a-pair-wrapper-gradient: linear-gradient(to right, #acf0f2 0%, #f3ffe2 20%, #f3ffe2 80%, #acf0f2 100%);
$find-a-pair-border-color: #000000;
$find-a-pair-shadow-color: rgba(0,0,0,0.5);
$find-a-pair-shadow-color-on-hover: rgba(0,0,0,0.9);
$find-a-pair-card-text-color: #000000;
$find-a-pair-card-text-background-color: #ffffff;
$find-a-pair-card-background-image: url(/src/assets/images/find-a-pair-card-image.png);
$find-a-pair-buttom-background: #ec8000;

$statistics-wrapper-gradient: linear-gradient(to bottom, #acf0f2 0%, #f3ffe2 100%);
$statistics-border-color: #ec8000;
$statistics-select-background-hover-color: #ec8000;
$statistics-tab-item-background-or-hover-for-buttons: #ec8000;
$statistics-tab-item-color: #aaaaaa;
$statistics-tab-item-on-hover-color: #ffffff;

$about-team-background-color: #1695A3;
$about-team-background-color: #acf0f2;
$about-team-border-title: #EC8000;
$about-team-title: #000000;
$about-team-card-shadow: #add8e6;
$about-team-card-color: #ffffff;
$about-team-work-icons: #6495ed;
$about-team-ul-icons-block: #3d3a3a;
$about-team-links-icons: #ccc;
$about-team-links-icons-hover: #fff;
$about-team-links-icons-bg-vk: rgb(59,89,152);
$about-team-links-icons-bg-linkedin: rgb(29,202,255);
$about-team-links-icons-bg-github: rgb(138,58,185);

$settings-result-text-correct: #008000;
$settings-result-text-wrong: #ff0000;
$settings-tabs-background: #ACF0F2;
$settings-background-or-hover-for-buttons: #ec8000;

$game-background-color: #1d5278;
$game-background-or-hover-for-buttons: #ec8000;
$game-background-light-yellow: #f3ffe2;
$game-background-light-blue: #acf0f2;

$statistics-wrapper-gradient: linear-gradient(to bottom, #acf0f2 0%, #f3ffe2 100%);
$statistics-border-color: #ec8000;
$statistics-select-background-hover-color: #ec8000;
$statistics-tab-item-background-or-hover-for-buttons: #ec8000;
$statistics-tab-item-color: #aaaaaa;
$statistics-tab-item-on-hover-color: #ffffff;

$short-statistics-right-counter-border: #008000;
$short-statistics-wrong-counter-border: #FF0000;

$game-background-color: #1d5278;
$game-background-or-hover-for-buttons: #ec8000;
$game-background-light-yellow: #f3ffe2;
$game-background-light-blue: #acf0f2;

$short-statistics-right-counter-border: #008000;
$short-statistics-wrong-counter-border: #FF0000;

$vocabluary-background: linear-gradient(to bottom, $game-background-light-blue 0%, $game-background-light-yellow 100%);
$vocabluary-additional-data-background: linear-gradient(to bottom, $game-background-color 0%, $game-background-light-blue 100%);
$vocabluary-text-hover-color: #ffffff;
$vocabluary-text-color: #000000;

$authentication-main-background-color: #225378;
$authentication-input-background-color: #ffffff;
$authentication-btn-color: #EB7F00;
$authentication-main-contain-background: #ffffff;
$authentication-text-color: #000000;
$authentication-border-color: #000000;
$authentication-description-text-color: #ffffff;
$authentication-error-color: #FF0000;