$labtop-l-width: 1440px;
$content-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

$english-puzzle-field-and-buttons-back: rgb(255, 177, 153);
$english-puzzle-button-hover-background: rgb(255, 88, 88);
$english-puzzle-text-color: white;
$english-puzzle-button-hover-shadow: #3a7999;
$english-puzzle-help-zone: lightcyan;
$english-puzzle-border-black: black;
$english-puzzle-right-cards: red;
$english-puzzle-false-cards: green;