$correct-letter-color: #28C38A;
$not-many-mistakes-letter-color: #FF934D;
$many-mistakes-letter-color:#FF0000;
$standard-border-color: #131313;
$standard-progress-bar-background: rgba(49, 158, 201, 0.5);
$standard-progress-bar-line-color: #1974C1;
$completed-progress-bar-line-color: #16C60C;

$daily-statistics-overlay-background: rgba(19, 19, 19, 0.3);
$daily-statistics-text-color: #ffffff;
$daily-statistics-background: #303B44;

$labtop-l-width: 1440px;
$content-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 425px;
$mobile-small-width: 320px;

$modal-window-background: rgba(0,0,0,0.6);
$modal-window-border-color: #000000;
$modal-window-main-background: #ffffff;

$start-game-window-border-color: #000000;

$find-a-pair-border-color: #000000;
$find-a-pair-shadow-color: rgba(0,0,0,0.5);
$find-a-pair-shadow-color-on-hover: rgba(0,0,0,0.9);
$find-a-pair-card-text-color: #000000;
$find-a-pair-card-text-background-color: #ffffff;
$find-a-pair-card-background-image: url(/src/assets/images/find-a-pair-card-image.png);
