@mixin font($size, $height, $weight: 400) {
  font-size: $size;
  font-size: $weight;
  line-height: $height;
}

@mixin laptop-l {
  @media (max-width: $labtop-l-width) { @content; }
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobile-small {
  @media (max-width: $mobile-small-width) { @content; }
}
