@mixin font ($size, $height: $size, $weight: normal, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin laptop-l {
  @media (max-width: $labtop-l-width) { @content; }
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobile-small {
  @media (max-width: $mobile-small-width) { @content; }
}
