%progress-bar-transition {
  transition: 0.4s ease;
}

%close-button-transition {
  transition: all 300ms;
}

%setting-transition-for-button-before {
  transition: all 0ms ease;
}

%setting-transition-for-button-hover-before {
  transition: all 300ms ease;
}

%modal-window-button-hover {
  transition: all 300ms ease;
}

%modal-window-button-before {
  transition: all 0ms ease;
}

%modal-window-button-before-hover {
  transition: all 300ms ease;
}

%statistics-tab-item-button-transition {
  transition: 0.5s;
}

%short-statistics-audio-hover-transition {
  transition: all 0.5s ease-in;
}

%start-window-start-button-transition {
  transition: all 300ms ease;
}

%start-window-start-button-before-transition {
  transition: all 0ms ease;
}

%start-window-start-button-before-hover-transition {
  transition: all 300ms ease;
}

%authentication-button-transition {
  transition: all 300ms ease;
}
