%progress-bar-transition {
  transition: 0.4s ease;
}

%setting-transition-for-button-before {
  transition: all 0ms ease;
}

%setting-transition-for-button-hover-before {
  transition: all 300ms ease;
}

%modal-window-button-hover {
  transition: all 300ms ease;
}

%modal-window-button-before {
  transition: all 0ms ease;
}

%modal-window-button-before-hover {
  transition: all 300ms ease;
}

%authentication-button-transition {
  transition: all 300ms ease;
}
