@import "./abstract/constants.scss";
@import "./abstract/mixins.scss";
@import "./abstract/placeholders.scss";

@import "./base/base.scss";
@import "./base/preloader.scss";
@import "./base/modal-window.scss";
@import "./base/start-window.scss";
@import "./base/close-button.scss";
@import "./base/short-statistics.scss";
@import "./base/progress-bar.scss";
@import "./base/daily-statistics.scss";

@import "./components/about-team/about-team.scss";
@import "./components/authentication/authorization.scss";
@import "./components/authentication/registration.scss";
@import "./components/main-game/main-game.scss";
@import "./components/mini-games/audition-game/audition-game.scss";
@import "./components/mini-games/english-puzzle/english-puzzle.scss";
@import "./components/mini-games/find-a-pair/find-a-pair.scss";
@import "./components/mini-games/find-a-pair/find-a-pair-cards.scss";
@import "./components/mini-games/find-a-pair/finds-a-pair-controlbar.scss";
@import "./components/mini-games/savannah/savannah.scss";
@import "./components/mini-games/speak-it/speak-it.scss";
@import "./components/mini-games/sprint/sprint.scss";
@import "./components/modal-form/modalform.scss";
@import "./components/promo-page/promo-page.scss";
@import "./components/settings/settings.scss";
@import "./components/vocabulary/vocabulary.scss";
