.main-game__progress-bar {
  height: 10px;
}

.main-game__progress-background {
  background-color: $main-game-standard-progress-bar-background;
  height: 10px;
  max-width: 30rem;
  margin: 0 10px;
}

.main-game__progress-bar-line {
  background-color: $main-game-standard-progress-bar-line-color;

  &_completed {
    background-color: $main-game-completed-progress-bar-line-color;
  }
}