main {
  &.in-game {
    align-items: flex-start;
    height: auto;
  }
}

.wrapper {
  width: 80vw;
}

.hidden {
  display: none !important;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $speak-it-overlay-background;

  z-index: 5000;
}

