main {
  &.in-game {
    align-items: flex-start;
    height: auto;
  }
}

.hidden {
  display: none !important;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $speak-it-overlay-background;

  z-index: 5000;
}

.speak-it__main {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;
  background-image: url("../../src/assets/images/speak-it-start-page-backround.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
