.buttons-container {
  display: flex;
  justify-content: center;

  @include media-mobile {
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.buttons-container__button {
  @include font(3.5rem, 4rem);

  border: 3px solid $speak-it-standard-button-background;
  border-radius: 20px;
  transition: 0.3s ease all;
  padding: 5px 10px;
  box-shadow: 0 0 5px $speak-it-standard-button-text-color;

  @include media-tablet {
    @include font(2rem);
  }
  
  &:not(:last-child) {
    margin-right: 40px;

    @include media-mobile {
      margin-right: 0;
    }
  }

  &:hover {
    background-color: $speak-it-standard-button-background-hover;
    color: $speak-it-standard-button-text-color;
  }
}
