.game-page__word-info {
  margin-bottom: 40px;
}

.word-info__image {
  width: 450px;
  height: 200px;
  box-shadow: 0 0 10px #131131;
}

.word-info__translation {
  @include font(3rem, 4.2rem);

  background: white;
  border-radius: 5px;
  color: #012E4D;
  margin-top: 10px;
  text-align: center;
}

.word-info__speech-recognition {
  @include font(3rem, 4.2rem);

  margin-top: 10px;
  background-color: white;
  color: #012E4D;
  border: 2px solid #012E4D;
  padding: 10px 5px;

  display: flex;
  align-items: center;

  & i {
    font-size: 3rem;
    color: #012E4D;
    margin-right: 5px;
  }

  & span {
    flex-grow: 1;
    text-align: center;

    max-width: 390px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
