.win-page {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $speak-it-standard-button-text-color;
}

.win-page__text {
  @include font(5rem, 6.4rem, 900);
}
