.word-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  
  border: 2px solid transparent;
  background-color: $speak-it-standard-button-background;
  color: $speak-it-standard-button-text-color;
  box-shadow: 0 0 0 4px $speak-it-standard-button-background, 0 0 6px $speak-it-standard-button-text-color;

  min-width: 15%;
  padding: 5px 20px;
  margin-bottom: 30px;
  margin-right: 20px;
  transition: 0.5s ease all;

  &_guessed {
    border-color: $speak-it-guessed-card-border-color;
    box-shadow: 0 0 0 4px $speak-it-guessed-card-border-color;
  }

  &_selected, &:hover {
    border-color: $speak-it-standard-button-text-color;
  }

  & i {
    font-size: 3rem;
  }
}

.word-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 15px;
}

.word-card__word {
  @include font(2.2rem, 3rem);
}

.word-card__transcription {
  @include font(1.5rem, 2rem, 300);

  color: $speak-it-transcription-color;
}
